<div class="header">
  <h1 align="center">Welcome to LTI Insurance</h1>
</div>

<div class="topnav">
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/register']">Register</a></li>
        <li><a [routerLink]="['/login']" [state]="{ id:5}">Login</a></li>
        <li style="float: right;"><img src="./assets/images/lti.jpg" style="padding-right: 20px; height:50px"></li>
        <!-- <li style="float: right;" [routerLink]="['/home']" [state]="{ id:6}"><a>Logout</a></li> -->
    </ul>
</div>