<div class="first">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">

                        <form #resetForm=ngForm class="form-horizontal" method="post" action="#">

                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Old Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="email" id="email"
                                            #em="ngModel" placeholder="Enter email" required
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            [(ngModel)]="res.userOldPassword"><br><br>
                                        <div *ngIf="em.invalid && (em.dirty||em.touched)" style="color:red;">
                                            <div *ngIf="em.errors?.required">Password is required</div>
                                            <div *ngIf="em.errors?.pattern">enter proper password</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">New Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="upass" id="upass"
                                            #up="ngModel" placeholder="Enter password" required
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            [(ngModel)]="res.userNewPassword"><br><br>
                                        <div *ngIf="up.invalid && (up.dirty||up.touched)" style="color:red;">
                                            <div *ngIf="up.errors?.required">password is required</div>
                                            <div *ngIf="up.errors?.pattern">Password shoild contain [min 8
                                                char,1uppercase,1lowercase,1 special symbol]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Conform New Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="upass1" id="upass"
                                            #up1="ngModel" placeholder="Enter password" required
                                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            [(ngModel)]="res.userConformPassword"><br><br>
                                        <div *ngIf="up1.invalid && (up1.dirty||up1.touched)" style="color:red;">
                                            <div *ngIf="up1.errors?.required">password is required</div>
                                            <div *ngIf="up1.errors?.pattern">Password shoild contain [min 8
                                                char,1uppercase,1lowercase,1 special symbol]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <button type="button" [(ngModel)]='value' [disabled]='value' (click)="checkPassword()"
                                    class="btn btn-primary btn-lg btn-block login-button">Reset</button>
                            </div>
                            <div class="login-register">
                                <a href="index.php">Forgot password</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>