<!-- <app-vehicle-details></app-vehicle-details>
<router-outlet></router-outlet> -->

<!-- <div id="nav">
    <ul>
        <li [routerLink]="['/vehicleDetail']"><a href="#">Register</a></li>
    </ul>
</div>

<div id="main">
    <router-outlet></router-outlet>
</div> -->

<!-- <app-dashboard></app-dashboard> -->

<ng-container *ngIf="!sessionEnabled()">
    <app-navbar></app-navbar>
</ng-container>
<ng-container *ngIf="sessionEnabled()">
    <app-navbar-on-login></app-navbar-on-login>
</ng-container>

<router-outlet></router-outlet>