<!-- <div class="header">
  <h1>Welcome to LTI</h1>
</div>

<div class="topnav">
  <ul>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/register']">Register</a></li>
    <li><a [routerLink]="['/login']" [state]="{ id:5}">Login</a></li>
    <li style="float: right;"><img src="./assets/images/lti.jpg" style="padding-right: 20px; height:50px"></li>
    <li style="float: right;" [routerLink]="['/home']" [state]="{ id:6}"><a>Logout</a></li>
  </ul>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>
        LTI Insurance is a project under finance domain developed in order to remove all the 
        existing problems prevailing in the current insurance firms. The aim is to develop a 
        user friendly, secure, error free online application where the user can buy insurance 
        policies, renew them and claim the insurance. The user will also be able to read detailed 
        yet easy to understand excerpts about different insurance policies provided by the application.
      </p>
      <p>
        Founded 20 years ago as the Insurance Firm arm of the Larsen & Toubro group,
        Our Service caters to the needs of customers who 
        are looking for an easy to use and responsive web application in order to buy 
        vehicle insurance or travel insurance.
      </p>
      <p>
        Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness
        of their business and technology operations and deliver value to their customers, employees
        and shareholders.
      </p>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-lg btn-block buttonDashboard" (click)="buyInsurance()">Vehicle Insurance</button>
      <button class="btn btn-primary btn-lg btn-block buttonDashboard" (click)="buyTravelInsurance()">Travel Insurance</button>
      <button class="btn btn-success btn-lg btn-block buttonDashboard" (click)="renewInsurance()">Renew Insurance</button>
      <button class="btn btn-primary btn-lg btn-block buttonDashboard" (click)="claimInsurance()">Claim Insurance</button>
      
    </div>
  </div>
</div>
  <h1 style="text-align: center">Our Beliefs</h1>
  <div class="row">
    <div class="cc">
      <img src="./assets/images/ins1.jpg">
      <p></p>
    </div>
    <div class="cc">
      <img src="./assets/images/ins2.jpg">
      <p>Complete Protection</p>
    </div>
    <div class="cc">
      <img src="./assets/images/ins3.jpg">
      <p>Insured Vehicle</p>
    </div>
    <div class="cc">
      <img src="./assets/images/ins4.jpg">
      <p>Insured Travel</p>
    </div>
    <div class="cc">
      <img src="./assets/images/ins5.jpg">
      <p>Risk Free Travel</p>
    </div>
  </div>

<div class="footer">
  <p>© 2020 Larsen & Toubro Infotech Limited</p>
</div>